$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'bebas-neue', sans-serif;

$primary-highlight: #FFB480;
$primary-highlight-text-color: #000;
$text-muted: #8e8e8e;

$base-link-color: $primary-highlight;
$base-link-hover-color: $base-link-color;
$base-body-font-family: $primary-font;
$base-heading-font-family: $secondary-font; 
$base-heading-color: #000;
$utility-container-large-max-width: 1270px;