{{blok._editable}}
<div class="{% if blok.offset != blank %}uk-push-{{blok.offset}}{% endif %} uk-width-medium-{{blok.width|default:'1-3'}}">
  {% for item in blok.body %}
    {% include item.component with blok: item %}
  {% endfor %}
</div>