<header class="header" {% if story.content.component != 'home' %} style="background-image:url('{{global.content.header_bg|resize:'32x0'}}')"{% endif %}>
  <div class="uk-container uk-container-center">
    <div class="uk-grid uk-margin-large-top">
      <div class="uk-width-medium-1-2">
        <a class="uk-display-inline-block" href="/" title="Alphachoice Home">{% include 'logo' %}</a>
      </div>
      <nav class="uk-width-medium-1-2 uk-hidden-small">
          <ul class="uk-list header__navigation uk-clearfix">
            <li><a class="uk-link-reset" target="_blank" href="https://www.amazon.de/gp/cart/view.html/ref=nav_cart">{% include 'icon' with type: 'add-to-cart' %} {{ 'shopping-bag' | label:'de-labels'}}</a></li>
            {% comment %}<li><a class="uk-link-reset" href="#">Why Alpha</a></li>{% endcomment %}
          </ul>
      </nav>
    </div>
  </div>
</header>