<header class="header" {% if story.content.component != 'home' %} style="background-image:url('{{global.content.header_bg|resize:'32x0'}}')"{% endif %}>
  <div class="uk-container uk-container-center">
    <div class="uk-grid uk-margin-large-top">
      <div class="uk-width-medium-1-3">
        <a class="uk-display-inline-block" href="/" title="Alphachoice Home">{% include 'logo' %}</a>
      </div>
      <nav class="uk-width-medium-2-3 uk-hidden-small">
          <ul class="uk-list header__navigation uk-clearfix">
            <li><a class="uk-link-reset" target="_blank" href="https://www.amazon.de/gp/cart/view.html/ref=nav_cart">{% include 'icon' with type: 'add-to-cart' %} {{ 'shopping-bag' | label:'de-labels'}}</a></li>
            {% for header_link in global.content.header_links %}
              <li><a class="uk-link-reset" href="{{header_link.link | url}}">{{header_link.label}}</a></li>
            {% endfor %}
          </ul>
      </nav>
    </div>
    <button class="header__open_mobile uk-hidden-medium uk-hidden-large uk-hidden-xlarge button button--dark">Menu</button>
  </div>
</header>