<header class="header" {% if story.content.component != 'home' %} style="background-image:url('{{global.content.header_bg}}')"{% endif %}>
  <div class="uk-container uk-container-center">
    <div class="uk-grid uk-margin-large-top">
      <div class="uk-width-medium-1-2">
        <a class="uk-display-inline-block" href="/" title="Alphachoice Home">{% include 'logo' %}</a>
      </div>
      <nav class="uk-width-medium-1-2 uk-hidden-small">
        <ul class="uk-list">
          <li>Why Alpha</li>
          <li>Shopping Bag</li>
          <li>whatever?</li>
        </ul>
      </nav>
    </div>
  </div>
</header>