<div class="newsletter uk-margin-large-top">
  <div class="uk-container uk-container-center">
    <div class="uk-grid">
      <div class="uk-push-1-4 uk-width-medium-1-2 uk-margin-large-top">
        <form class="text-center" action="http://alphachoice.us16.list-manage2.com/subscribe" target="_blank">
          <div class="uk-container uk-margin-large-top uk-margin-large-bottom">
            <h2>{{ 'newsletter-headline' | label:'de-labels' }}</h2>
            <p>{{ 'newsletter-text' | label:'de-labels' }}</p>
            <div class="uk-grid uk-grid-collapse uk-margin-top uk-margin-large-bottom">
              <div class="uk-width-medium-3-4">
                <input class="form-control" placeholder="{{ 'newsletter-placeholder' | label:'de-labels' }}" type="email" name="EMAIL" id="member_email">
                <label class="uk-hidden" for="member_email">Email address</label>
              </div>
              <div class="uk-width-medium-1-4">
                <input type="hidden" value="bc0b3329c9520b22453f690ea" name="u">
                <input type="hidden" value="9313411249" name="id">
                <input type="submit" value="{{ 'newsletter-subscribe' | label:'de-labels' }}" class="button button--dark">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>