<section class="random_products uk-margin-large">
  <div class="uk-container uk-container-center">
    <p class="text--muted">{{'random-above'|label:'de-labels'}}</p>
    <h2>{{'random-headline'|label:'de-labels'}}</h2>
    <ul class="uk-grid uk-grid-small">
      {% set products from stories starts_with:'products', per_page: 3, is_startpage: false %}
      {% for product in products.data %}
      <li class="uk-width-medium-1-3">
        {% include 'product_card' with product: product %}
      </li>
      {% endfor %}
    </ul>
  </div>
</section>