<section class="uk-margin-large-top">
  <div class="uk-container uk-container-center">
  {% for item in blok.body %}
    {% include item.component with blok: item %}
  {% endfor %}
  </div>
</section>
