select {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  text-transform: uppercase;
  color: inherit;
  border: 0px;
  background: transparent;
  font-size: inherit;
  line-height: inherit;
  display: block;
  cursor: pointer;
  width: 100%;
  padding: 16px 20px 17px 10px;
  border-radius: 0;
}

// place on parent div
.select {
  box-sizing: border-box;
  
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;

  label {
    display: block;
    padding-left: 16px;
    padding: 16px 10px 17px 10px;
  }
}

.select--dark {
  background: #000;
  color: #fff;
}