.header {
  position: absolute;
  top: 0px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
  border-top: 2px solid #000;
  @media (max-width: 780px) {
    background-image:none!important;
  }
}

.header + * {
    padding-top: 120px;
}