.header {
  position: absolute;
  top: 0px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
  border-top: 2px solid #000;
  @media (max-width: 780px) {
    background-image:none!important;
  }
}

.header + * {
    padding-top: 120px;
}

.header__navigation {
  margin-top: -20px;  
  
  li {
    float:right;
    &:first-child {
      a {
        color: #fff;
        background: #000;
      }
    }
  }
  a {
    display: inline-block;
    padding: 15px 30px;
    background-color: rgba(240,240,240,0.5);
    line-height: 30px;
    svg {
      font-size: 28px;
    }
  }  
}