.markdown {
  em {
    color: $primary-highlight;
  }

  h1 {
    font-size: 42px;
    line-height: 46px;
  }
  h2 {
    font-size: 36px;
    line-height: 42px;
  }
  h3 {
    font-size: 30px;
    line-height: 36px;
  }
  h4 {
    font-size: 24px;
    line-height: 30px;
  }
  h5 {
    font-size: 18px;
    line-height: 24px;
  }

  ul, ol {
    line-height: 1.2;
  }

  p {
    margin-bottom: 15px;
  }

  li {
    padding-top: 3px;
    padding-bottom: 7px;
    
    & > ol, & > ul {
      padding-top: 5px;
    }
  }

  table {

    width: 100%;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;
    tr {
      width: 100%;
      border-top: 1px solid #c6cbd1;
    }
    th, td {
      border: 1px solid #c6cbd1;
      padding: 10px 5px;
    }
    th {
      background: lighten(#c6cbd1, 10%);
    }
  }
}