

.product__title {
  padding-right: 40px;
  font-size: 90px;
  line-height: 80px;
}

.product__actions_helper {
  height: 100px;
}
.product__actions {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

@media (min-width: 1220px) {
  .product__content {
    margin-left: calc((100% - 1200px) / 2);
    padding: 0!important;
  }
  .product__images {
    display:block;
    float: right;
    width: 35%;
  }
}

.product__description {
  padding-top: 70px;
  padding-right: 35px;
  h2 {
    font-size: 26px;
    line-height: 30px;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      border-left: 10px solid #000;
      height: 100%;
      left: -30px;
    }
  }
  p {
    font-size: 14px;
  }
}


.product__regular_price {
  font-size: 40px;
  font-family: $secondary-font;
  font-weight: 300;
  color: $text-muted;
  position: relative;
  display: inline-block;
  &:after {
    content: '';
    width: 100%;
    position: absolute;
    left:0px;
    top: 50%;
    border: 1px solid $text-muted;
  }
}

.product__price {
  font-size: 90px;
  font-family: $secondary-font;
  font-weight: 300;
}

.product__color {
  line-height: 30px;
  padding: 0px !important;
  margin: 10px 0px;
}

.product__color_code {
  display: inline-block;
  height: 28px;
  width: 28px;
  border: 1px solid $text-muted;
  overflow: hidden;
}
.product__color_name {
  display: inline-block;
  vertical-align: top;

  .product__color_code + & {
    padding-left: 5px;
  }
}

.product__color_secondary {
  width: 41px;
  height: 73px;
  display: block;
  transform: rotateZ(45deg);
}

.product__available_sizes {
  width: 100%;
  text-align: left;
}

.product__available_size {
  display: inline-block;
}