.product_card {
  padding-bottom: 40px;
}

.product_card__headline {
  padding: 0px;
  margin: 0px;
  font-family: $primary-font;
  font-weight: bold;
  padding-top: 20px;
}

.product_card__price {
  color: $text-muted;
}

.product_card__image {
  background: #F8F8F8; 
  position: relative;
  overflow: hidden;
  
  img {
    display: block;
    margin: 0 auto;
    transition: transform 500ms ease;
  }
  &:hover {
    img {
      transform: scale(1.075);
    }
  }
} 

