

.product__title {
  font-size: 90px;
  line-height: 80px;
}

.product__images {
  // display:none;
}

.product__actions_helper {
  height: 100px;
}
.product__actions {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

@media (min-width: 1220px) {
  .product__content {
    margin-left: calc((100% - 1200px) / 2);
    padding: 0!important;
  }
  .product__images {
    display:block;
    float: right;
    width: 35%;
  }
}

.product__description {
  padding-top: 70px;
  padding-right: 35px;
  h2 {
    font-size: 26px;
    line-height: 30px;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      border-left: 10px solid #000;
      height: 100%;
      left: -30px;
    }
  }
  p {
    font-size: 14px;
  }
}


.product__regular_price {
  font-size: 40px;
  font-family: $secondary-font;
  font-weight: 300;
  color: $text-muted;
  position: relative;
  display: inline-block;
  &:after {
    content: '';
    width: 100%;
    position: absolute;
    left:0px;
    top: 50%;
    border: 1px solid $text-muted;
  }
}

.product__price {
  font-size: 90px;
  font-family: $secondary-font;
  font-weight: 300;
}